body {
  color: rgb(33, 25, 34);
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
}

main {
  padding-top: 64px;
}

.loading {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-page {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
}

.loading-element {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 70;
  background-color: #fff;
}

.loading img {
  width: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.load-bg {
  padding: 1px;
  color: #efefef;
  border-radius: 4px;
  background-color: #efefef;
}

.img-load-bg {
  height: 400px;
  border-radius: 14px;
  background-color: #efefef;
}

.avatar {
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  background-color: #e9e9e9;
}

.avatar .no-avatar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.xs-avatar {
  width: 24px;
  height: 24px;
  font-size: 12px;
}

.sm-avatar {
  width: 32px;
  height: 32px;
  font-size: 16px;
}

.md-avatar {
  width: 48px;
  height: 48px;
  font-size: 24px;
}

.lg-avatar {
  width: 60px;
  height: 60px;
  font-size: 30px;
}

.xl-avatar {
  width: 75px;
  height: 75px;
  font-size: 38px;
}

.xxl-avatar {
  width: 120px;
  height: 120px;
  font-size: 60px;
}

.warning-text {
  color: red;
}

.drop-down-control .normal-icon,
.drop-down-control:hover .normal-icon {
  background-color: #000;
  color: #fff;
}

.drop-down-menu {
  min-width: 200px;
  z-index: 90;
  color: #000;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s;
  position: fixed;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.drop-down-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.drop-down-item:hover {
  background-color: #e9e9e9;
}

.gallery {
  max-width: 1200px;
  margin: 0 auto;
  column-count: 4;
  font-family: arial;
}
.gallery-item {
  break-inside: avoid;
  margin-bottom: 16px;

  position: relative;
}
.gallery-item figure {
  margin: 0;
  position: relative;
}
.gallery-item figcaption {
  font-style: italic;
  padding: 8px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  box-sizing: border-box;
  bottom: 3px;
  color: #fff;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0 0 14px 14px;
}
.gallery-item img {
  width: 100%;
  border-radius: 14px;
}
.gallery-item p {
  margin: 0;
  padding: 8px;
}

@media screen and (max-width: 500px) {
  .gallery {
    column-count: 1;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  .gallery {
    column-count: 2;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) {
  .gallery {
    column-count: 3;
  }
}

.gallery-item .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  cursor: pointer;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery-item .overlay button {
  margin: 14px;
}

.gallery-item:hover .overlay {
  display: flex;
}

.card {
  overflow: hidden;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-image {
  height: calc(100vh - 120px);
}

.card-detail {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.icon {
  display: flex;
  cursor: pointer;
  color: #5f5f5f;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.icon:active {
  transform: scale(0.8);
}

.icon:hover {
  background-color: #e9e9e9;
}

.small-icon {
  width: 24px;
  height: 24px;
}

.normal-icon {
  width: 48px;
  height: 48px;
}

.icon.small-icon i {
  font-size: 18px;
}

.icon.normal-icon i {
  font-size: 24px;
}

.social-icon {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

.social-icon:hover {
  background-color: #e9e9e9;
}

.social-icon img {
  width: 40px;
  height: 40px;
}

.social-icon span {
  font-size: 14px;
}

.red-btn {
  color: #fff;
  background-color: #e60023;
}

.red-btn:hover {
  background-color: #ad081b;
}

.black-btn {
  color: #fff;
  background-color: #111;
}

.black-btn:hover {
  color: #fff;
  background-color: #111;
}

.gray-btn {
  padding: 12px 16px;
  background-color: #efefef;
}

.gray-btn:hover {
  background-color: #e2e2e2;
}

.dark-gray-btn {
  background-color: #e9e9e9;
}

.disabled-btn {
  color: #5f5f5f;
  background-color: #efefef;
}

.pill-btn {
  height: 48px;
  border: none;
  outline: none;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  border-radius: 24px;
}

.name-link {
  font-weight: 600;
}

.name-link:hover {
  text-decoration: underline;
}

.comment-item {
  display: flex;
  margin-top: 16px;
}

.comment-interaction {
  height: 27px;
  display: flex;
  align-items: center;
  color: #5f5f5f;
  font-size: 14px;
}

.comment-reaction {
  padding: 1px;
}

.comment-reaction-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-size: cover;
}

.comment-reaction:hover .comment-reaction-icon {
  display: none;
}

.comment-reaction-container {
  height: 25px;
  padding: 4px;
  display: none;
  cursor: pointer;
  position: relative;
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  box-sizing: border-box;
}

.comment-reaction:hover .comment-reaction-container {
  display: flex;
  align-items: center;
}

.comment-reaction-item {
  width: 17.5px;
  height: 17px;
}

.comment-reaction-move {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 0;
  margin-bottom: 4px;
}

.comment-reaction-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px;
  color: #fff;
  display: none;
  font-size: 12px;
  font-weight: 600;
  margin-top: -28px;
  white-space: nowrap;
  border-radius: 999px;
  background-color: #111;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.comment-reaction-item:hover .comment-reaction-move {
  margin-bottom: 12px;
}

.comment-reaction-item:hover .comment-reaction-text {
  display: block;
}

.reaction-total {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reaction-result {
  display: flex;
  cursor: pointer;
}

.result-icon {
  width: 19px;
  height: 19px;
  margin-right: 2px;
}

.reaction-amount {
  padding: 0 4px;
  font-size: 16px;
  font-weight: 600;
}

#reaction-btn {
  width: 24px;
  height: 24px;
}

#reaction-container {
  width: 300px;
  height: 80px;
  padding: 0 20px;
  position: absolute;
  right: -24px;
  bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  visibility: hidden;
  border-radius: 999px;
  box-sizing: content-box;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 9px 26px;
}

#reaction:hover #reaction-container {
  visibility: visible;
}

.reaction-item {
  cursor: pointer;
  position: relative;
  opacity: 0;
  transform: scale(0);
  transform-origin: center bottom;
  transition-timing-function: ease-out;
  transition-property: transform, opacity;
}

#reaction:hover .reaction-item {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

#reaction:hover .good-idea {
  transition-duration: 0.2s;
}

#reaction:hover .love {
  transition-duration: 0.4s;
}

#reaction:hover .thanks {
  transition-duration: 0.6s;
}

#reaction:hover .wow {
  transition-duration: 0.8s;
}

#reaction:hover .haha {
  transition-duration: 1s;
}

.reaction-status {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.reaction-icon {
  width: 40px;
  height: 40px;
}

.reaction-move {
  width: 40px;
  height: 40px;
  position: relative;
  visibility: hidden;
}

.reaction-wrapper {
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reaction-text {
  height: 20px;
  color: #fff;
  font-size: 12px;
  padding: 0px 8px;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 999px;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.625);
  transform-origin: center bottom;
  transition: transform 0.2s ease-out 0s;
}

.reaction-animation {
  width: 40px;
  height: 40px;
  background-size: cover;
}

.reaction-status:hover .reaction-icon {
  visibility: hidden;
}

.reaction-status:hover ~ .reaction-move {
  visibility: visible;
  transform-origin: center bottom;
  transition: transform 0.2s ease-out 0s;
  transform: translateY(-30px) scaleX(1.6) scaleY(1.6);
}

.reaction-status:hover ~ .reaction-move .play90 {
  animation: 3000ms steps(90) 0s infinite normal forwards running play90;
}

.reaction-status:hover ~ .reaction-move .play60 {
  animation: 2000ms steps(60) 0s infinite normal forwards running play60;
}

@keyframes play90 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -3600px 0px;
  }
}

@keyframes play60 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -2400px 0px;
  }
}

.reaction-user {
  width: 26px;
  height: 26px;
}

.comment-input {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 24px;
  padding: 15px 96px 15px 15px;
  background-color: #e9e9e9;
}

.reply-input {
  width: 100%;
  outline: none;
  cursor: pointer;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  padding: 15px 96px 15px 15px;
}

.comment-input:hover,
.comment-control:hover ~ .comment-input {
  background-color: #dadada;
}

.comment-input:focus,
.comment-control:hover ~ .comment-input:focus {
  border: 1px solid #cdcdcd;
  background-color: #fff;
  cursor: text;
}

.reply-input:focus {
  cursor: text;
}

.comment-control {
  display: flex;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.emoji-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.emoji-icon:hover {
  animation-name: wiggle;
  animation-duration: 0.9s;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.search-btn {
  width: 40px;
  height: 40px;
  padding: 6px;
  border: none;
  outline: none;
  border-radius: 50%;
}

.tab-header {
  display: flex;
  justify-content: center;
}

.tab-title {
  padding: 8px;
  margin: 0 8px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  border-radius: 8px;
  text-decoration: none;
}

.tab-title:hover {
  background-color: #e9e9e9;
}

.tab-title.active::after {
  content: "";
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: -3px;
  height: 3px;
  display: block;
  border-radius: 1.5px;
  background-color: #111;
}

.tab-title.active:hover {
  background-color: transparent;
}

#image-handle {
  display: flex;
}

#drop-zone {
  width: 375px;
  height: 574px;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 24px 48px 0 0;
}

#image-wrapper {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  background-color: #e9e9e9;
  border: 2px dashed rgb(218, 218, 218);
}

#instruction {
  position: absolute;
  bottom: 0;
  padding: 32px 0;
  font-size: 14px;
}

.image-input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  font-size: 0px;
  cursor: pointer;
}

.chosen-image {
  border-radius: 32px;
  background-size: contain;
}

#image-information {
  width: 584px;
  margin-top: 24px;
}

@media (max-width: 1199px) {
  #image-handle {
    flex-direction: column;
    align-items: center;
  }
  #drop-zone {
    margin: 24px 0 0 0;
  }
}
@media (max-width: 767px) {
  #image-information {
    width: auto;
  }
}
@media (min-width: 0px) {
  .card-image {
    border-radius: 32px 32px 0 0;
  }
  .popup-content {
    width: 95%;
  }
}
@media (min-width: 576px) {
  .popup-content {
    width: 500px;
  }
}
@media (min-width: 768px) {
  #profile-wrapper {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .card-image {
    border-radius: 32px 0 0 32px;
  }
  #profile-wrapper {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #image-handle {
    flex-direction: row;
    justify-content: center;
  }
}

.info-label {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 8px;
}

.info-input {
  width: 100%;
  resize: none;
  outline: none;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 16px;
  border: 2px solid #cdcdcd;
}

.info-input:hover {
  border-color: #a5a5a5;
}

.red-btn:focus,
.black-btn:focus,
.gray-btn:focus,
.info-input:focus,
.popup-hide:focus {
  box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
}

.profile-footer {
  margin-top: auto;
  padding: 16px 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.popup-wrapper {
  position: relative;
}

.popup-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  overflow: hidden auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  /* ẩn thanh cuộn khi nội dung quá dài */
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  background-color: #fff;
}

.popup-hide {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 28px;
}

#reaction-popup .popup-content,
#follower-popup .popup-content,
#following-popup .popup-content {
  max-height: calc(100vh - 64px);
}

.popup-header,
.popup-footer {
  padding: 16px;
  display: flex;
  justify-content: center;
}

.popup-body {
  padding: 16px;
  min-height: 100px;
}

.popup-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-pointer {
  cursor: pointer;
}
